-- CreateEnum
CREATE TYPE "AdminRole" AS ENUM ('SUPER_ADMIN', 'STAFF');

-- CreateEnum
CREATE TYPE "AdminStatus" AS ENUM ('ONLINE', 'OFFLINE');

-- CreateEnum
CREATE TYPE "AircraftAvailability" AS ENUM ('NONE', 'LOCAL', 'INTERNATIONAL', 'BOTH');

-- CreateEnum
CREATE TYPE "AircraftCategory" AS ENUM ('LIGHT', 'MIDSIZE', 'SUPER_MIDSIZE', 'ULTRA_LONG_RANGE', 'HEAVY');

-- CreateEnum
CREATE TYPE "FlightType" AS ENUM ('ONE_WAY', 'ROUND_TRIP', 'MULTI_LEG');

-- CreateEnum
CREATE TYPE "QuoteStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'EXPIRED', 'PAID', 'COMPLETED');

-- CreateEnum
CREATE TYPE "EmptyLegStatus" AS ENUM ('PUBLISHED', 'OPEN', 'CLOSED', 'UNAVAILABLE');

-- CreateEnum
CREATE TYPE "EmptyLegSource" AS ENUM ('ADMIN', 'OPERATOR', 'INSTACHARTER');

-- CreateEnum
CREATE TYPE "EmptyLegPriceType" AS ENUM ('FIXED', 'CONTACT');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('PENDING', 'SUCCESS', 'FAILED');

-- CreateEnum
CREATE TYPE "PaymentMethod" AS ENUM ('PAYSTACK', 'BANK_TRANSFER');

-- CreateEnum
CREATE TYPE "PaymentType" AS ENUM ('CHARTER', 'EMPTY_LEG');

-- CreateEnum
CREATE TYPE "SubscriptionType" AS ENUM ('CITY', 'ROUTE', 'ALL');

-- CreateEnum
CREATE TYPE "RejectionReason" AS ENUM ('AIRCRAFT_UNAVAILABLE', 'ROUTE_NOT_SERVICEABLE', 'INVALID_DATES', 'PRICING_ISSUE', 'CAPACITY_EXCEEDED', 'DEAL_NOT_AVAILABLE', 'NO_PAYMENT_MADE', 'OTHER');

-- CreateEnum
CREATE TYPE "ActivityAction" AS ENUM ('ADMIN_CREATE', 'ADMIN_UPDATE', 'ADMIN_DELETE', 'OPERATOR_CREATE', 'OPERATOR_UPDATE', 'OPERATOR_DELETE', 'AIRCRAFT_CREATE', 'AIRCRAFT_UPDATE', 'AIRCRAFT_DELETE', 'CHARTER_QUOTE_CREATE', 'CHARTER_QUOTE_APPROVE', 'CHARTER_QUOTE_REJECT', 'CHARTER_QUOTE_EXPIRE', 'EMPTY_LEG_CREATE', 'EMPTY_LEG_UPDATE', 'EMPTY_LEG_CLOSE', 'EMPTY_LEG_QUOTE_CREATE', 'EMPTY_LEG_QUOTE_APPROVE', 'EMPTY_LEG_QUOTE_REJECT', 'PAYMENT_INITIATED', 'PAYMENT_SUCCESS', 'PAYMENT_FAILED', 'SETTINGS_UPDATE', 'AIRPORT_IMPORT', 'ANNOUNCEMENT_CREATE', 'ANNOUNCEMENT_DELETE', 'SUBSCRIPTION_CREATE', 'SUBSCRIPTION_DELETE', 'EMPTY_LEG_NOTIFICATION', 'CHARTER_QUOTE_UPDATE', 'CHARTER_RECEIPT_UPLOADED', 'CHARTER_PAYMENT_CONFIRMED', 'CHARTER_CONFIRMATION_SENT', 'EMPTY_LEG_QUOTE_FORWARDED', 'INSTACHARTER_SYNC_START', 'INSTACHARTER_SYNC_COMPLETE', 'INSTACHARTER_SYNC_ERROR');

-- CreateEnum
CREATE TYPE "AirportType" AS ENUM ('large_airport', 'medium_airport', 'small_airport');

-- CreateTable
CREATE TABLE "Country" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "continent" TEXT NOT NULL,
    "wikipediaLink" TEXT,
    "keywords" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Country_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Region" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "localCode" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "continent" TEXT NOT NULL,
    "countryCode" TEXT NOT NULL,
    "wikipediaLink" TEXT,
    "keywords" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Region_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Airport" (
    "id" TEXT NOT NULL,
    "ident" TEXT NOT NULL,
    "type" "AirportType" NOT NULL,
    "name" TEXT NOT NULL,
    "latitude" DOUBLE PRECISION NOT NULL,
    "longitude" DOUBLE PRECISION NOT NULL,
    "elevationFt" INTEGER,
    "continent" TEXT NOT NULL,
    "countryCode" TEXT NOT NULL,
    "regionCode" TEXT NOT NULL,
    "municipality" TEXT,
    "scheduledService" BOOLEAN NOT NULL DEFAULT false,
    "icaoCode" TEXT,
    "iataCode" TEXT,
    "gpsCode" TEXT,
    "localCode" TEXT,
    "homeLink" TEXT,
    "wikipediaLink" TEXT,
    "keywords" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Airport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Aircraft" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "manufacturer" TEXT NOT NULL,
    "category" "AircraftCategory" NOT NULL,
    "availability" "AircraftAvailability" NOT NULL DEFAULT 'NONE',
    "basePricePerHour" DOUBLE PRECISION,
    "cabinLengthFt" DOUBLE PRECISION,
    "cabinWidthFt" DOUBLE PRECISION,
    "cabinHeightFt" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "baggageCuFt" DOUBLE PRECISION,
    "exteriorHeightFt" DOUBLE PRECISION,
    "exteriorLengthFt" DOUBLE PRECISION,
    "exteriorWingspanFt" DOUBLE PRECISION,
    "image" TEXT,
    "maxPax" INTEGER,
    "minPax" INTEGER,
    "cruiseSpeedKnots" DOUBLE PRECISION,
    "fuelCapacityGal" DOUBLE PRECISION,
    "rangeNm" DOUBLE PRECISION,

    CONSTRAINT "Aircraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Admin" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "role" "AdminRole" NOT NULL DEFAULT 'STAFF',
    "status" "AdminStatus" NOT NULL DEFAULT 'OFFLINE',
    "avatar" TEXT,
    "address" TEXT,
    "resetOtp" TEXT,
    "resetOtpExpiry" TIMESTAMP(3),
    "refreshToken" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Admin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Operator" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "avatar" TEXT,
    "bankName" TEXT NOT NULL,
    "bankAccountNumber" TEXT NOT NULL,
    "bankAccountName" TEXT NOT NULL,
    "paystackSubaccountCode" TEXT,
    "commissionPercent" DOUBLE PRECISION NOT NULL DEFAULT 10,
    "resetOtp" TEXT,
    "resetOtpExpiry" TIMESTAMP(3),
    "refreshToken" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Operator_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OperatorFleet" (
    "id" TEXT NOT NULL,
    "operatorId" TEXT NOT NULL,
    "aircraftId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OperatorFleet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Client" (
    "id" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "fullName" TEXT,
    "email" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Client_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CharterQuote" (
    "id" TEXT NOT NULL,
    "referenceNumber" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "clientName" TEXT NOT NULL,
    "clientEmail" TEXT NOT NULL,
    "clientPhone" TEXT NOT NULL,
    "flightType" "FlightType" NOT NULL,
    "passengerCount" INTEGER NOT NULL,
    "specialRequests" TEXT,
    "status" "QuoteStatus" NOT NULL DEFAULT 'PENDING',
    "rejectionReason" "RejectionReason",
    "rejectionNote" TEXT,
    "approvedById" TEXT,
    "approvedAt" TIMESTAMP(3),
    "paymentDeadline" TIMESTAMP(3),
    "paymentLink" TEXT,
    "quoteDocumentUrl" TEXT,
    "flightDocumentUrl" TEXT,
    "receiptUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "paymentMethod" "PaymentMethod",
    "totalPriceUsd" DOUBLE PRECISION,
    "confirmationSentAt" TIMESTAMP(3),
    "invoiceDocumentUrl" TEXT,
    "paymentConfirmedAt" TIMESTAMP(3),
    "paymentConfirmedById" TEXT,
    "receiptUploadedAt" TIMESTAMP(3),
    "receiptUploadedUrl" TEXT,

    CONSTRAINT "CharterQuote_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CharterQuoteAircraft" (
    "id" TEXT NOT NULL,
    "charterQuoteId" TEXT NOT NULL,
    "aircraftId" TEXT NOT NULL,

    CONSTRAINT "CharterQuoteAircraft_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CharterLeg" (
    "id" TEXT NOT NULL,
    "charterQuoteId" TEXT NOT NULL,
    "legNumber" INTEGER NOT NULL,
    "departureAirportId" TEXT NOT NULL,
    "arrivalAirportId" TEXT NOT NULL,
    "departureDateTime" TIMESTAMP(3) NOT NULL,
    "aircraftId" TEXT,
    "additionalNotes" TEXT,
    "boardingInfo" TEXT,
    "checkInTime" TIMESTAMP(3),
    "confirmationSentAt" TIMESTAMP(3),
    "gateInfo" TEXT,
    "pilotContact" TEXT,
    "pilotName" TEXT,
    "priceUsd" DOUBLE PRECISION,
    "terminalInfo" TEXT,
    "ticketNumber" TEXT,

    CONSTRAINT "CharterLeg_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EmptyLeg" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "departureAirportId" TEXT,
    "arrivalAirportId" TEXT,
    "departureDateTime" TIMESTAMP(3) NOT NULL,
    "aircraftId" TEXT,
    "totalSeats" INTEGER NOT NULL,
    "availableSeats" INTEGER NOT NULL,
    "status" "EmptyLegStatus" NOT NULL DEFAULT 'PUBLISHED',
    "createdByAdminId" TEXT,
    "createdByOperatorId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "aircraftCategory" TEXT,
    "aircraftImage" TEXT,
    "aircraftName" TEXT,
    "aircraftType" TEXT,
    "arrivalCity" TEXT,
    "arrivalCountry" TEXT,
    "arrivalIcao" TEXT,
    "departureCity" TEXT,
    "departureCountry" TEXT,
    "departureIcao" TEXT,
    "externalId" TEXT,
    "lastSyncedAt" TIMESTAMP(3),
    "operatorEmail" TEXT,
    "operatorName" TEXT,
    "operatorPhone" TEXT,
    "operatorCompanyId" INTEGER,
    "operatorWebsite" TEXT,
    "operatorRating" DECIMAL(3,2),
    "priceType" "EmptyLegPriceType" NOT NULL DEFAULT 'FIXED',
    "priceUsd" DOUBLE PRECISION,
    "source" "EmptyLegSource" NOT NULL DEFAULT 'ADMIN',

    CONSTRAINT "EmptyLeg_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EmptyLegBooking" (
    "id" TEXT NOT NULL,
    "referenceNumber" TEXT NOT NULL,
    "emptyLegId" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "clientName" TEXT NOT NULL,
    "clientEmail" TEXT NOT NULL,
    "clientPhone" TEXT NOT NULL,
    "seatsRequested" INTEGER NOT NULL,
    "status" "QuoteStatus" NOT NULL DEFAULT 'PENDING',
    "rejectionReason" "RejectionReason",
    "rejectionNote" TEXT,
    "approvedById" TEXT,
    "approvedAt" TIMESTAMP(3),
    "paymentDeadline" TIMESTAMP(3),
    "paymentLink" TEXT,
    "quoteDocumentUrl" TEXT,
    "flightDocumentUrl" TEXT,
    "receiptUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "additionalNotes" TEXT,
    "boardingInfo" TEXT,
    "checkInTime" TIMESTAMP(3),
    "confirmationSentAt" TIMESTAMP(3),
    "gateInfo" TEXT,
    "paymentMethod" "PaymentMethod",
    "pilotContact" TEXT,
    "pilotName" TEXT,
    "terminalInfo" TEXT,
    "ticketNumber" TEXT,
    "totalPriceUsd" DOUBLE PRECISION NOT NULL,
    "bankAccountName" TEXT,
    "bankAccountNumber" TEXT,
    "bankName" TEXT,
    "bankSortCode" TEXT,
    "externalRequestId" TEXT,
    "forwardedAt" TIMESTAMP(3),
    "forwardedToExternal" BOOLEAN NOT NULL DEFAULT false,
    "isReadOnly" BOOLEAN NOT NULL DEFAULT false,
    "source" "EmptyLegSource" NOT NULL DEFAULT 'ADMIN',

    CONSTRAINT "EmptyLegBooking_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InstaCharterSyncLog" (
    "id" TEXT NOT NULL,
    "syncType" TEXT NOT NULL DEFAULT 'SCHEDULED',
    "status" TEXT NOT NULL,
    "dealsFound" INTEGER NOT NULL DEFAULT 0,
    "dealsCreated" INTEGER NOT NULL DEFAULT 0,
    "dealsUpdated" INTEGER NOT NULL DEFAULT 0,
    "dealsRemoved" INTEGER NOT NULL DEFAULT 0,
    "errorMessage" TEXT,
    "errorDetails" TEXT,
    "triggeredById" TEXT,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "durationMs" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "InstaCharterSyncLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Payment" (
    "id" TEXT NOT NULL,
    "referenceNumber" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "type" "PaymentType" NOT NULL,
    "charterQuoteId" TEXT,
    "emptyLegBookingId" TEXT,
    "paystackReference" TEXT,
    "paystackAccessCode" TEXT,
    "status" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "paidAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "adminAmountUsd" DOUBLE PRECISION,
    "amountUsd" DOUBLE PRECISION NOT NULL,
    "bankTransferConfirmed" BOOLEAN NOT NULL DEFAULT false,
    "confirmedAt" TIMESTAMP(3),
    "confirmedById" TEXT,
    "method" "PaymentMethod" NOT NULL,
    "operatorAmountUsd" DOUBLE PRECISION,

    CONSTRAINT "Payment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ActivityLog" (
    "id" TEXT NOT NULL,
    "action" "ActivityAction" NOT NULL,
    "description" TEXT NOT NULL,
    "adminId" TEXT,
    "operatorId" TEXT,
    "clientPhone" TEXT,
    "targetType" TEXT,
    "targetId" TEXT,
    "metadata" JSONB,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "seenBy" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ActivityLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Announcement" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "imageUrl" TEXT,
    "createdById" TEXT NOT NULL,
    "sentAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Announcement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EmptyLegSubscription" (
    "id" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "type" "SubscriptionType" NOT NULL DEFAULT 'ALL',
    "cities" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "routeFrom" TEXT,
    "routeTo" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EmptyLegSubscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Settings" (
    "id" TEXT NOT NULL DEFAULT 'default',
    "paymentWindowHours" INTEGER NOT NULL DEFAULT 3,
    "dealDeadlineMinutes" INTEGER NOT NULL DEFAULT 30,
    "minimumBookingNoticeHours" INTEGER NOT NULL DEFAULT 24,
    "defaultOperatorCommission" DOUBLE PRECISION NOT NULL DEFAULT 10,
    "cancellationPolicy" TEXT,
    "termsAndConditions" TEXT,
    "privacyPolicy" TEXT,
    "supportEmail" TEXT,
    "supportPhone" TEXT,
    "quoteCounter" INTEGER NOT NULL DEFAULT 0,
    "emptyLegCounter" INTEGER NOT NULL DEFAULT 0,
    "receiptCounter" INTEGER NOT NULL DEFAULT 0,
    "flightConfirmCounter" INTEGER NOT NULL DEFAULT 0,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "bankAccountName" TEXT,
    "bankAccountNumber" TEXT,
    "bankCode" TEXT,
    "bankName" TEXT,
    "companyAddress" TEXT,
    "companyEmail" TEXT,
    "companyName" TEXT NOT NULL DEFAULT 'PexJet',
    "companyPhone" TEXT,
    "facebookUrl" TEXT,
    "instagramUrl" TEXT,
    "linkedinUrl" TEXT,
    "proofOfPaymentWhatsApp" TEXT,
    "twitterUrl" TEXT,

    CONSTRAINT "Settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DocumentTemplate" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DocumentTemplate_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Country_code_key" ON "Country"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Region_code_key" ON "Region"("code");

-- CreateIndex
CREATE INDEX "Region_countryCode_idx" ON "Region"("countryCode");

-- CreateIndex
CREATE UNIQUE INDEX "Airport_ident_key" ON "Airport"("ident");

-- CreateIndex
CREATE INDEX "Airport_countryCode_idx" ON "Airport"("countryCode");

-- CreateIndex
CREATE INDEX "Airport_regionCode_idx" ON "Airport"("regionCode");

-- CreateIndex
CREATE INDEX "Airport_icaoCode_idx" ON "Airport"("icaoCode");

-- CreateIndex
CREATE INDEX "Airport_iataCode_idx" ON "Airport"("iataCode");

-- CreateIndex
CREATE INDEX "Airport_name_idx" ON "Airport"("name");

-- CreateIndex
CREATE INDEX "Airport_municipality_idx" ON "Airport"("municipality");

-- CreateIndex
CREATE INDEX "Aircraft_category_idx" ON "Aircraft"("category");

-- CreateIndex
CREATE INDEX "Aircraft_availability_idx" ON "Aircraft"("availability");

-- CreateIndex
CREATE INDEX "Aircraft_manufacturer_idx" ON "Aircraft"("manufacturer");

-- CreateIndex
CREATE UNIQUE INDEX "Admin_email_key" ON "Admin"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Admin_username_key" ON "Admin"("username");

-- CreateIndex
CREATE INDEX "Admin_email_idx" ON "Admin"("email");

-- CreateIndex
CREATE INDEX "Admin_username_idx" ON "Admin"("username");

-- CreateIndex
CREATE UNIQUE INDEX "Operator_email_key" ON "Operator"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Operator_username_key" ON "Operator"("username");

-- CreateIndex
CREATE INDEX "Operator_email_idx" ON "Operator"("email");

-- CreateIndex
CREATE INDEX "Operator_username_idx" ON "Operator"("username");

-- CreateIndex
CREATE INDEX "OperatorFleet_operatorId_idx" ON "OperatorFleet"("operatorId");

-- CreateIndex
CREATE UNIQUE INDEX "OperatorFleet_operatorId_aircraftId_key" ON "OperatorFleet"("operatorId", "aircraftId");

-- CreateIndex
CREATE UNIQUE INDEX "Client_phone_key" ON "Client"("phone");

-- CreateIndex
CREATE INDEX "Client_phone_idx" ON "Client"("phone");

-- CreateIndex
CREATE INDEX "Client_email_idx" ON "Client"("email");

-- CreateIndex
CREATE UNIQUE INDEX "CharterQuote_referenceNumber_key" ON "CharterQuote"("referenceNumber");

-- CreateIndex
CREATE INDEX "CharterQuote_clientId_idx" ON "CharterQuote"("clientId");

-- CreateIndex
CREATE INDEX "CharterQuote_status_idx" ON "CharterQuote"("status");

-- CreateIndex
CREATE INDEX "CharterQuote_referenceNumber_idx" ON "CharterQuote"("referenceNumber");

-- CreateIndex
CREATE UNIQUE INDEX "CharterQuoteAircraft_charterQuoteId_aircraftId_key" ON "CharterQuoteAircraft"("charterQuoteId", "aircraftId");

-- CreateIndex
CREATE INDEX "CharterLeg_charterQuoteId_idx" ON "CharterLeg"("charterQuoteId");

-- CreateIndex
CREATE INDEX "CharterLeg_departureAirportId_idx" ON "CharterLeg"("departureAirportId");

-- CreateIndex
CREATE INDEX "CharterLeg_arrivalAirportId_idx" ON "CharterLeg"("arrivalAirportId");

-- CreateIndex
CREATE UNIQUE INDEX "EmptyLeg_slug_key" ON "EmptyLeg"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "EmptyLeg_externalId_key" ON "EmptyLeg"("externalId");

-- CreateIndex
CREATE INDEX "EmptyLeg_source_idx" ON "EmptyLeg"("source");

-- CreateIndex
CREATE INDEX "EmptyLeg_status_idx" ON "EmptyLeg"("status");

-- CreateIndex
CREATE INDEX "EmptyLeg_departureAirportId_idx" ON "EmptyLeg"("departureAirportId");

-- CreateIndex
CREATE INDEX "EmptyLeg_arrivalAirportId_idx" ON "EmptyLeg"("arrivalAirportId");

-- CreateIndex
CREATE INDEX "EmptyLeg_departureDateTime_idx" ON "EmptyLeg"("departureDateTime");

-- CreateIndex
CREATE INDEX "EmptyLeg_slug_idx" ON "EmptyLeg"("slug");

-- CreateIndex
CREATE INDEX "EmptyLeg_externalId_idx" ON "EmptyLeg"("externalId");

-- CreateIndex
CREATE UNIQUE INDEX "EmptyLegBooking_referenceNumber_key" ON "EmptyLegBooking"("referenceNumber");

-- CreateIndex
CREATE INDEX "EmptyLegBooking_emptyLegId_idx" ON "EmptyLegBooking"("emptyLegId");

-- CreateIndex
CREATE INDEX "EmptyLegBooking_clientId_idx" ON "EmptyLegBooking"("clientId");

-- CreateIndex
CREATE INDEX "EmptyLegBooking_status_idx" ON "EmptyLegBooking"("status");

-- CreateIndex
CREATE INDEX "EmptyLegBooking_source_idx" ON "EmptyLegBooking"("source");

-- CreateIndex
CREATE INDEX "InstaCharterSyncLog_status_idx" ON "InstaCharterSyncLog"("status");

-- CreateIndex
CREATE INDEX "InstaCharterSyncLog_startedAt_idx" ON "InstaCharterSyncLog"("startedAt");

-- CreateIndex
CREATE UNIQUE INDEX "Payment_referenceNumber_key" ON "Payment"("referenceNumber");

-- CreateIndex
CREATE UNIQUE INDEX "Payment_charterQuoteId_key" ON "Payment"("charterQuoteId");

-- CreateIndex
CREATE UNIQUE INDEX "Payment_emptyLegBookingId_key" ON "Payment"("emptyLegBookingId");

-- CreateIndex
CREATE UNIQUE INDEX "Payment_paystackReference_key" ON "Payment"("paystackReference");

-- CreateIndex
CREATE INDEX "Payment_clientId_idx" ON "Payment"("clientId");

-- CreateIndex
CREATE INDEX "Payment_status_idx" ON "Payment"("status");

-- CreateIndex
CREATE INDEX "Payment_paystackReference_idx" ON "Payment"("paystackReference");

-- CreateIndex
CREATE INDEX "ActivityLog_action_idx" ON "ActivityLog"("action");

-- CreateIndex
CREATE INDEX "ActivityLog_adminId_idx" ON "ActivityLog"("adminId");

-- CreateIndex
CREATE INDEX "ActivityLog_createdAt_idx" ON "ActivityLog"("createdAt");

-- CreateIndex
CREATE INDEX "ActivityLog_targetType_targetId_idx" ON "ActivityLog"("targetType", "targetId");

-- CreateIndex
CREATE INDEX "Announcement_createdAt_idx" ON "Announcement"("createdAt");

-- CreateIndex
CREATE INDEX "EmptyLegSubscription_phone_idx" ON "EmptyLegSubscription"("phone");

-- CreateIndex
CREATE INDEX "EmptyLegSubscription_type_idx" ON "EmptyLegSubscription"("type");

-- CreateIndex
CREATE INDEX "EmptyLegSubscription_isActive_idx" ON "EmptyLegSubscription"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "DocumentTemplate_name_key" ON "DocumentTemplate"("name");

-- AddForeignKey
ALTER TABLE "Region" ADD CONSTRAINT "Region_countryCode_fkey" FOREIGN KEY ("countryCode") REFERENCES "Country"("code") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Airport" ADD CONSTRAINT "Airport_countryCode_fkey" FOREIGN KEY ("countryCode") REFERENCES "Country"("code") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Airport" ADD CONSTRAINT "Airport_regionCode_fkey" FOREIGN KEY ("regionCode") REFERENCES "Region"("code") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OperatorFleet" ADD CONSTRAINT "OperatorFleet_aircraftId_fkey" FOREIGN KEY ("aircraftId") REFERENCES "Aircraft"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OperatorFleet" ADD CONSTRAINT "OperatorFleet_operatorId_fkey" FOREIGN KEY ("operatorId") REFERENCES "Operator"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CharterQuote" ADD CONSTRAINT "CharterQuote_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "Admin"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CharterQuote" ADD CONSTRAINT "CharterQuote_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CharterQuote" ADD CONSTRAINT "CharterQuote_paymentConfirmedById_fkey" FOREIGN KEY ("paymentConfirmedById") REFERENCES "Admin"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CharterQuoteAircraft" ADD CONSTRAINT "CharterQuoteAircraft_aircraftId_fkey" FOREIGN KEY ("aircraftId") REFERENCES "Aircraft"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CharterQuoteAircraft" ADD CONSTRAINT "CharterQuoteAircraft_charterQuoteId_fkey" FOREIGN KEY ("charterQuoteId") REFERENCES "CharterQuote"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CharterLeg" ADD CONSTRAINT "CharterLeg_aircraftId_fkey" FOREIGN KEY ("aircraftId") REFERENCES "Aircraft"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CharterLeg" ADD CONSTRAINT "CharterLeg_arrivalAirportId_fkey" FOREIGN KEY ("arrivalAirportId") REFERENCES "Airport"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CharterLeg" ADD CONSTRAINT "CharterLeg_charterQuoteId_fkey" FOREIGN KEY ("charterQuoteId") REFERENCES "CharterQuote"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CharterLeg" ADD CONSTRAINT "CharterLeg_departureAirportId_fkey" FOREIGN KEY ("departureAirportId") REFERENCES "Airport"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmptyLeg" ADD CONSTRAINT "EmptyLeg_aircraftId_fkey" FOREIGN KEY ("aircraftId") REFERENCES "Aircraft"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmptyLeg" ADD CONSTRAINT "EmptyLeg_arrivalAirportId_fkey" FOREIGN KEY ("arrivalAirportId") REFERENCES "Airport"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmptyLeg" ADD CONSTRAINT "EmptyLeg_createdByAdminId_fkey" FOREIGN KEY ("createdByAdminId") REFERENCES "Admin"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmptyLeg" ADD CONSTRAINT "EmptyLeg_createdByOperatorId_fkey" FOREIGN KEY ("createdByOperatorId") REFERENCES "Operator"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmptyLeg" ADD CONSTRAINT "EmptyLeg_departureAirportId_fkey" FOREIGN KEY ("departureAirportId") REFERENCES "Airport"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmptyLegBooking" ADD CONSTRAINT "EmptyLegBooking_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "Admin"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmptyLegBooking" ADD CONSTRAINT "EmptyLegBooking_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmptyLegBooking" ADD CONSTRAINT "EmptyLegBooking_emptyLegId_fkey" FOREIGN KEY ("emptyLegId") REFERENCES "EmptyLeg"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InstaCharterSyncLog" ADD CONSTRAINT "InstaCharterSyncLog_triggeredById_fkey" FOREIGN KEY ("triggeredById") REFERENCES "Admin"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_charterQuoteId_fkey" FOREIGN KEY ("charterQuoteId") REFERENCES "CharterQuote"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "Client"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_emptyLegBookingId_fkey" FOREIGN KEY ("emptyLegBookingId") REFERENCES "EmptyLegBooking"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ActivityLog" ADD CONSTRAINT "ActivityLog_adminId_fkey" FOREIGN KEY ("adminId") REFERENCES "Admin"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Announcement" ADD CONSTRAINT "Announcement_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "Admin"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

